.products-main {
    display: block;
    padding: 2rem 0;
}

.products-main > h5 {
    font-family: montserrat-regular;
    background-color: #319F44;
    color: #fff;
    width: fit-content;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    margin-bottom: 0;
}

.products-section {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 0.5rem;
    padding: 0.5rem;

}

.products-productcard > h5 {
    color: #fff;
    width: fit-content;
    position: absolute;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.slick-prev:before,
.slick-next:before
{
    color: #319F44 !important;
}

.products-add {
    display: grid;
}

.products-add > img {
    height: 2rem;
    margin-left: auto;
}

.products-add > img:hover{
    transform: scale(1.2);
    transition: transform ease-in-out 0.2s;
}

.new-product-container {
    display: grid;
    justify-content: center;
}

.new-product-container > div > p {
    justify-self: center;
    font-weight: 500;
}

.new-product-container > form {
    display: flex;
    flex-direction: column;

}

.new-product-container > form > input {
        font-family: montserrat-regular;
    font-size: 1rem;
}

.new-product-container > form > textarea {
    resize: none;
    font-family: montserrat-regular;
    font-size: 1rem;
}

.new-product-buttons {
    margin-left: auto;
    margin-top: 2rem;
}

.new-product-warning-active {
    border: 1px red solid;
    border-radius: 0.5rem;
    background-color: lightpink;
    justify-self: center;
}

.new-product-warning-active > p {
    margin: 0.5rem;
    font-size: 0.9rem;
}


@media screen and (max-width:426px) {
    .products-section {
        display: grid;
        flex-direction: column;
    }

    .products-main {
        padding: 10rem;
    }
}

@media screen and (max-width:768px) {

    .products-main {
        padding: 0;
    }
}