.nav-wrapper {
    background-color: #319F44;
    color: #fff;;
    position: sticky;
    top: 0;
    z-index: 30;
    backdrop-filter: blur(50px);
}

.nav-content {
    display: flex;
    align-items: center;
    padding: 0.2rem 0 0 2rem;
    margin: 0 auto;
    font-family: montserrat-regular;
    flex-grow: 1;
    height: 3.5rem;
}

.nav-content > h1 {
    font-weight: 100;
    text-decoration: none !important;
}

.nav-content ul {
    list-style: none;
    display: flex;
    font-size: 1.3rem;
}

.nav-content ul a {
    color: #f1f1f190;
    text-decoration: none;
}

.navbar-active {
    color: #fff !important;
    text-decoration: none;
}

.nav-content li {
    margin-right: 3rem;
}

.account {
    margin-left: auto;
}

.menu-btn {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px #000 solid;
    border-radius: 0.4rem;
    color:#fff;
    background: #43AB54;
    line-height:0;
    cursor: pointer;
    transition: all 0.4s ease;
    display: none;
}

@media (max-width:1920px) {
    .nav-content ul {
        font-size: 1rem;
    }
}

@media (max-width:1325px) {
    .nav-wrapper {
        padding: 0 2rem;
    }

    .nav-content{
        padding: 0;
    }
}

@media screen and (max-width:1024px) {
    .nav-content ul {
        font-size: 0.8rem;
    }
}


@media (max-width:769px) {
    .menu-btn {
        display: block;
    }

    .nav-content ul {
        display: none;
    }
}
