* {
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;

}

.app-wrapper {
  background-color: #97C793;
}

.container {
  background-color: #f1f1f1;
  padding:0 4rem ;
  margin: 0 6rem;
}
