.best-sellers-container {
    display: block;
    background-color: #f1f1f1;
    width: 100%;
    text-align: center;
    font-family: montserrat-regular;
}

.best-sellers-container h3 {
    font-size: 1.5rem;
    font-weight: 100;
}

.best-sellers-content{
    display: flex;
    justify-content: center;
    text-align: left;
}

@media screen and (max-width:1440px) {
    
}

@media screen and (max-width:1024px) {
    
}

@media screen and (max-width:768px) {

}

@media screen and (max-width:426px) {
        .best-sellers-content{
            display: flex;
            flex-direction: column;
        }
}






