.carousel-container{
    padding-top: 2rem;
}

.carousel-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-card > img {
    width: 100%;;
}

.slick-next:before,
.slick-prev:before {
    display: none;
}

.slick-next:hover,
.slick-prev:hover {
    cursor:default;
}

@media screen and (max-width: 426px) {
    .carousel-container{
        padding-top: 1rem;
    }
}
