.password-update-container {
    font-family: montserrat-regular;
    padding-top: 1rem;
    display: grid;
    justify-content: center;

}

.password-update-container > h1 {
    margin: 0;

}

.password-update-fields {
    width: 100%;
    margin: 5rem auto 1rem auto;
}

.password-update-fields > input {
    margin: 0.5rem 0;
    height: 2rem;
    width: 100%;
    margin-right: 0rem;
}

.password-update-fields > label {
    width: 30%;
}

.password-update-fields > button {
    margin-left: auto;
    width: 100%;
}

.password-update-fields > button:disabled {
    background-color: aliceblue;
}

.warning-on {
    background-color: lightpink;
    border: 1px solid red;
    padding: 0 1rem;
    margin-bottom: 1rem;
    height: auto;
    visibility:visible;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.warning-off {
    visibility: hidden;
    position: absolute;
}

.success-message {
    color: green;
    display: grid;
    justify-items: center;

}
.success-message > img {
    height: 10rem;

}

.password-requirements {
    margin-top: 2rem;
}