@media (min-width: 992px) {
    .product-details{
        margin: auto;
    }
}

@media (max-width: 991px) {
    h1{
        text-align: center;
    }
}

img{
    border-radius: 10px;
    height: auto;
}

p{
    text-align: justify;
}