.global-modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: montserrat-regular;
    z-index: 1000;
}


.global-modal-close {
    height: 1.5rem;
    margin-left: auto;
    background: none;
    border: none;
    cursor: pointer;
}

.global-modal-container {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    width: auto;
    left: 50%;
    height: auto;
    font-family: montserrat-regular;
    border-radius: 5%;
    padding: 1rem 2rem;
}

.warning {
    height: 8rem;
    justify-self: center;
}

.global-modal-container > button {
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.global-modal-container > button:hover {
    color: #fff;
    background-color: red;
    scale: 1.02;
}

.modal-edit-user, .modal-delete-user{
    display: grid;
    justify-items: stretch;
    font-family: montserrat-regular;
    
}

.modal-edit-user > input {
    font-family: montserrat-regular;
    font-size: 1rem;
    padding: 0.25rem;
    width: 20rem;
    margin: 0.5rem 0;
}

.modal-edit-user > button {
    font-family: montserrat-regular;
    font-size: 1rem;
    padding: 0.5rem 0;
    margin: 2rem 0;
    background-color: #319F44;
    color: #f1f1f1;
}

.modal-edit-user > button:hover {
    background-color: #257d34;
}

.modal-delete-user > img {
    height: 10rem;
}

.modal-delete-user > button {
    font-family: montserrat-regular;
    font-size: 1rem;
    padding: 0.5rem 0;
    margin: 2rem 0;
    background-color: #3D2916;
    color: #f1f1f1;
}

.modal-delete-user > button:hover {
    transform: scale(1.01);
    background-color: #4f3925;
}