@font-face {
    font-family: montserrat-regular;
    src: url(./fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(./fonts/montserrat/Montserrat-Bold.ttf);
}