body {
        font-family: montserrat-regular;
    }

@media screen and (max-width: 3052px) {
    h1 {
        font-size: 6rem;
        font-family: montserrat-regular;
    }

    h3 {
        font-size: 5rem;
    }

    p {
        font-size: 3rem;
        text-align: justify;
        padding: 1rem 1rem 1rem 5rem;
        width: 90%;
    }

    footer {
        font-size: 3rem;
        padding: 0rem 2rem 0rem 0rem;
    }
}


@media screen and (max-width:1440px) {
    h1 {
        font-size: 3rem;
        font-family: montserrat-regular;
        margin: 0.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1.6rem;
        text-align: justify;
        padding: 1rem 1rem 1rem 4rem;
        width: 90%;
    }

    footer {
        font-size: 1rem;
        padding: 0rem 1rem 0rem 0rem;
    }
}

@media screen and (max-width:768px) {
    h1 {
        font-size: 2rem;
        font-family: montserrat-regular;
        margin: 0.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
        width: 90%;
        padding: 1rem 1rem 1rem 1rem;
        text-align: justify;
    }
    
    footer {
        font-size: 1rem;
        padding: 0.2rem 0.2rem 0rem 0.2rem;
    }
}

@media screen and (max-width:425px) {
    h1 {
        font-size: 2rem;
        font-family: montserrat-regular;
        margin: 0.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
        width: 90%;
        padding: 1rem 1rem 1rem 1rem;
        text-align: justify;
    }
    
    footer {
        font-size: 1rem;
        padding: 0.2rem 0.2rem 0rem 0.2rem;
    }
}