@font-face {
    font-family: montserrat-regular;
    src: url(../fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(../fonts/montserrat/Montserrat-Bold.ttf);
}

body {
    background-color: #b3fdc9;
    width: 100%;
    font-family: montserrat-regular;
    top: 0px;
    justify-content: space-around ;
    height: 48px;
}


h1, h2, h3, h4, h5, h6{
    font-family: 'montserrat-regular';
}

.container{
    margin-top: 48px;
}

body{
    font-family: 'montserrat-regular';
    background-color: #b3fdc9;
}

.navbar_bg_color {
    background-color: #319F44;
}

.navbar_txt_color {
    color:aliceblue
}

.btn_color {
    background-color:#76DB82;
}

.btn{
    width: 60px;
    height: 30px;
    font-size: 15px;
    font-family: 'montserrat-regular';
    background-color: #43AB54;
    border-color: #43AB54;
    color: #fff;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    width: 60px;
    height: 30px;
    font-size: 15px;
    font-family: 'Montserrat-Regular';
    background-color: #319F44;
    border-color: #319F44;
    color: #fff;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.txt{
    border-style: none;
    border-radius: 5px;
    height: 25px;
    cursor: text;
    font-family: 'Montserrat-Regular';
    padding: 0px 5px;
}

footer {
    font-family: montserrat-regular;
    font-size: 1rem;
    text-align: right;
    padding-top: 1rem;
}