@font-face {
    font-family: montserrat-regular;
    src: url(../fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(../fonts/montserrat/Montserrat-Bold.ttf);
}

@media (max-width: 767px) {
    h1 {
        font-size: 7vw;
    }
    h2 {
        font-size: 6vw;
    }
    h3 {
        font-size: 5vw;
    }
    h4 {
        font-size: 4vw;
    }
    h5 {
        font-size: 3vw;
    }

    .btn {
        font-size: small;
    }
}

body {
    background-color: #97C793;
    width: 100%;
    font-family: montserrat-regular;
    top: 0px;
    justify-content: space-around ;
    height: 48px;
}

a {
    color: #fff;
    text-decoration:none;
}

.navbar {
    background-color: #319F44;
}

h1, h2, h3, h4, h5, h6{
    font-family: montserrat-regular;
}

.main_color {
    background-color: #f1f1f1;
}


.txt_color {
    color:#fff;
    font-family: montserrat-regular;
}

.btn_color {
    background-color:#76DB82;
}

.btn-celuma {
    font-family: montserrat-regular;
    background-color: #319F44;
    text-decoration: none;
    border-color: #43AB54;
    color: #fff;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-celuma:hover {
    font-family: montserrat-regular;
    background-color: #63af6e;
    border-color: #319F44;
    color: #fff;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-celuma-secondary {
    font-family: montserrat-regular;
    background-color: #3D2916;
    text-decoration: none;
    border-color: #43AB54;
    color: #fff;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-celuma-secondary:hover {
    font-family: montserrat-regular;
    background-color: #764f2b;
    border-color: #319F44;
    color: #fff;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-outline-info {
    --bs-btn-color: #319F44;
    --bs-btn-border-color: #319F44;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #319F44;
    --bs-btn-hover-border-color: #319F44;
    --bs-btn-focus-shadow-rgb: 13, 202, 240;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #319F44;
    --bs-btn-active-border-color: #319F44;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #319F44;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #319F44;
    --bs-gradient: none;
}

.footer_global{
    font-family: montserrat-regular;
    background-color: #3D2916;
    font-size: 1rem;
    text-align: right;
    padding-top: 1rem;
}