* {
    margin:0;
    padding:0px 0px 0px 0px;
}

body {
    background-color: #b3fdc9;
    width: 100%;
    font-family: montserrat-regular;
}


h1 {
    text-align: center;
    width: 100%;
    padding: 1em 0em 0em 0em;
}

h3 {
    padding: 0px 0px 0px 30px;
}

header {
    text-align: center;
    width: 100%;
}
