* {
    margin:0;
    padding:0px 0px 0px 0px;
}

body {
    background-color: #b3fdc9;
    width: 100%;
}


h1 {
    text-align: center;
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    padding: 0px 0px 0px 30px;
}

header {
    text-align: center;
    width: 100%;
}
