@media (max-width: 767px) {
    .hidden-mobile {
      display: none;
    }
}

.card-img-top {
    border-radius: 5px;
}

.card {
    border-radius: 5px;
    margin: 0.5em;
}

.card img {
  max-width: 100%;
  max-height: 100%;
}

.carousel-inner .cards-wrapper .card {
  width: calc(100%/3);
}

.image-wrapper {
  display: flex;
}

.image-wrapper .badge {
  position: absolute;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}

.carousel-control-prev, .carousel-control-next {
  background-color: #3d2916;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.celuma-badge {
  color: #fff;
  background-color: #319f44;
}

.section-border {
  border: solid 1px #b1b1b1;
  border-radius: 10px;
}

.carousel-control-prev span,
.carousel-control-next span {
  width: 1.5rem;
  height: 1.5rem;
}

.link {
  color: #319f44;
}

.link:hover {
  color: #97c793
}